<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bienvenue</title>
</head>
<body>
	<div class="ground row acceuil">
		<div class="container">
			<h1>NOUS SOUHAITONS LA BIENVENUE DANS NOTRE SITE <strong>E-COMMERCE</strong></h1>
			<p>
				Ici, on vend des photos de chats.<br/>
			</p>
		</div>
	</div>

</body>
</html>