<h1>Tadaaammmm...</h1>
<h3>Voici le detail de ce produit :</h3>
<p>
	<strong> Titre : </strong> <%= @item.title %><br/>
	<strong> L'URL de l'image : </strong> <%= @item.image_url %><br/>
	<strong> Prix : </strong> <%= @item.price %><br/>
	<strong> Description : </strong> <%= @item.description %><br/>
</p>