<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>bonjour  et bienvenue chez nous !</h1>
    <p>
      votre commande a été prise :
    </p>
   
  </body>
</html>