<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bienvenue</title>
</head>
<body>
	<div class="ground admin">
		<div class="container">
			<h1>Bievenue Admins</h1>
			<p>
				<h3>Vous êtes l'administrateur de notre site <strong>E-COMMERCE</strong>.<br/></h3>
				En tant qu'admin, vous avez des fonctionnalités que <br/> les autres utilisateurs nont pas accès.<br/><br/>
				Ainsi, voici donc votre tâches :
				<ol>
					<li>tu peux créer des produits</li>
					<li>tu peux éditer ou éffacer des produits</li>
					<li>tu peux enlever des utilisateurs si tu veux</li>
				</ol>
				<p>Essayer de bien gérer notre page</p>
			</p> 
		</div>	
	</div>

</body>
</html>




