

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin.last_name %> !</h1>
    <p>
      Quelqu'un a passé une commande en utilisant l'e-mail : <%= @user.email %>.
    </p>

  </body>
</html>