/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 12%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 25%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black; opacity: 0.25;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent;} 

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#catfond{
  border-radius: 12px;
  /*width: 2500px;*/
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#catprofil{
  border-radius: 100%;
  max-width: 300px;
  height: 300px;
}
.boxvide{
  background-image: url("fond.jpg");
  background-size: cover;
  border: inset;
  border-color:black;
  height: 300px;
  width: 300px;
  border-radius: 20px;
}
/*==============================================*/
/************* Ajout de style sur les phot ******/
/*===============================================*/
.flip {
  margin-left: 23px;
  margin-bottom: 20px ;
}
.flip-card {
  margin-right:20px;
  display: inline-block;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {

  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);
}
img{
  border-radius: 10px;
}
#cat{
  width: 100px;
  height: 100px;
}
/*=========================================*/
/*type style css fait maison*/
/*changer les couleur, faire des boutons*/
/*=======================================*/
.center{
  text-align: center;
}
.supprime{
  border-radius: 10px;
  border-color: #ff0303;
  background-color: #ff0303;
  color: white;
  padding: 10px;
}
.supprime:hover{
  color: green;
}
.vert{
  border-radius: 10px;
  border-color: #11cf17;
  background-color: white;
  color: #11cf17;
  padding: 10px;
}
.vert:hover{
  background-color: #11cf17;
  color: white;
}
.bleu{
  border-radius: 10px;
  border-color: #08a8ff;
  background-color: white;
  color: #08a8ff;
  padding: 10px;
}
.bleu:hover{
  background-color: #08a8ff;
  color: white;
}
#blanche{
  color: white;
}
#couleur{
color:white;
-webkit-text-stroke:0.5px;
-webkit-text-stroke-color:#1ec9be;

}
.ground{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;  
  padding-bottom:200px;
  padding-top: 50px;
}
.newsession{
  background-image: url("new2.jpg");
}
.newregistre{
  background-image: url("new6.jpg");
}
.cartshow{
  background-image: url("ground2.jpg");
}
.itemshow{
  background-image: url("ground7.jpg");
  padding-left:10px;
  padding-top: 150px;
}
.mar {
  
  margin-top: 10px;
  }
.w3-container {
  display: inline-block;
  margin-left: 50px
}
.transparent {
  background-color: transparent;
 }
.w2 {
  position: absolute;
  display: inline-block;
  margin-left: 50px;
}
.w2-border {
  margin-top: 200px;
  width:550px;
}
.cart{
  width: 50px;
  height: 30px;
}
.bigcart{
  width: 80px;
  height: 70px;
}
.vertdur{
  border-radius: 10px;
  margin-top: 20px;
  background-color: #11cf17;
  color: white;
  padding: 10px;
}
.vertdur:hover{
  color: #08a8ff;
  background-color: #11cf17;
}
.usershow{
  background-image: url("ground8.jpg");
  padding-top: 100px;

}
.edituser{
text-align: center;
color: black;
}
.itemindex{
/*background-color: #0367fc;*/
background-image: url("i9.jpg");

}
.row{
  background-image: url(many.jpg);
}

.admin{
  background-image: url("i4.jpg");
}
.eccueil{
  background-image: url("i12.jpg");
}
.indexcolor{
  color: gray;
}
